@import './base.css';

.container{
  padding: 0 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-1{
  font-size: var(--header-size);
  font-weight: 400;
  font-family: Unbounded;
  line-height: 125%;
  color: var(--header-color);
  text-transform: uppercase;
}

@media screen and (max-width: 1440px) {
  :root{
    --header-size: 42px;
    --grid-gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  :root{
    --header-size: 36px;
    --text-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  :root{
    --header-size: 30px;
  }
}
@media screen and (max-width: 375px) {
  :root{
    --header-size: 28px;
  }
}